//c'est ici qu'on met les styles principaux et les changements de variables

//ajout des polices (LAto et Numito)
@import  url("https://fonts.googleapis.com/css2?family=Lato:wght@100|Nunito:wght@200");

$turquoise: #44ddd0;
$green: #27d7a1;

$light-green: #45f69e;
$dark-green: rgb(0,100,80);

$light: #f8f8f8;


//update de certaines variables globales de Bulma
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$link: $light-green;

//update de certaones cariables composantes de bulma

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow:none;


//initialisation des styles globaux custom
html{
    background: linear-gradient(to right top, $turquoise, $green );
}

html, body{
    height: 100%;
}
